/* Add screen styles below */
body, h1, p, div, a, img {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: grey;
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}